@import '/home/zweiler1/.config/theme-generator/generated-html.css';

:root {
    --color-textColor: var(--color4);
    --color-hoverColor: var(--color1);
    --color-backgroundColor: var(--color0);
    --color-border: var(--color3);
    --color-transparent: rgba(0, 0, 0, 0);
}

body {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12pt;
    background-color: var(--color-backgroundColor);
    color: var(--color-textColor);
    height: 100%;
    width: 99%;
}

.highlight {
    background-color: var(--color-hoverColor);
    border: 2px solid var(--color-border);
    border-radius: 5px;
    height: 150px;
}